* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  color: black; }

.navbar {
  background-color: #EDE3E9;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(131, 109, 156, 0.15) 0px 5px 15px 0px; }

h1 {
  margin: 5%;
  text-align: center; }

#contenedor-de-productos {
  margin: 90px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card {
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; }

.contenedor-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  z-index: 100; }

.modal-visible {
  opacity: 1;
  visibility: visible;
  z-index: 5; }

.carrito-modal {
  width: 40%;
  height: 10%;
  background-color: #EDE3E9; }

.productoElegido {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.eliminar {
  background-color: white;
  color: lightblue;
  border: none;
  font-size: 20px; }

.formulario {
  background-color: #EDE3E9;
  text-align: center; }
  .formulario h5 {
    padding: 2%;
    font-size: 15pt; }
  .formulario .label-formulario {
    padding: 0.5%;
    font-size: 12pt;
    text-align: left; }
  .formulario #suscribirse {
    margin: 25px;
    background-color: #8260A9;
    border-radius: 5px;
    color: #EDE3E9;
    padding: 5px; }
